@inherits LayoutComponentBase

<!--Second Bootstrap that I use is to underline in blue text when I type in my admin-->
<div class="bg-info text-white p-2 text-decoration-underline">
  
    <div class="container-fluid">

        <div class="row">

            <div class="col">
                <span class="navbar-brand m-lg-2"></span>
            </div>

            <div class="col-2 text-right">
                <!--For one of the bootstrap ideas I use a btn-outline-light for the logout button to be outline to white -->
                <a class="btn btn-sm btn-primary btn-outline-light" href="/account/logout">Log Out</a>
            </div>

        </div>

    </div>

</div>

<div class="container-fluid">

    <div class="row p-2">

        <div class="col-3">
            <!--use pagination as one of my bootsraps to be able to sort the pagination of each page-->
            <div class="d-grid gap-2 pagination">
                <NavLink class="btn btn-outline-primary" href="/admin/books"
                         ActiveClass="btn-primary text-white" Match="NavLinkMatch.Prefix">Books</NavLink>
                <NavLink class="btn btn-outline-primary" href="/admin/orders"
                         ActiveClass="btn-primary text-white" Match="NavLinkMatch.Prefix">Orders</NavLink>
            </div>
        </div>

        
        <div class="col">
            @Body
        </div>

    </div>

</div>
