@page "/admin"

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

@model BookStore.Pages.Admin.IndexModel
@{
}

<!DOCTYPE html>

<html>

<head>
    <title>Bookstore Admin</title>
    <link href="~/lib/css/bootstrap.min.css" rel="stylesheet" />
    <!--The base tag specifies the base URL and/or target for all relative URL-->
    <base href="/" />
</head>

<body>

    <component type="typeof(BookStore.Pages.Admin.Routed)" render-mode="Server" />
    <script src="/_framework/blazor.server.js"></script>

</body>


</html>