@page
@model BookStore.Pages.OrderCompletedModel
@{
}

<div class="text-center">
    <h2>Thanks for shopping come again soon!</h2>
    <a class="btn-btn-primary" asp-controller="Home">Return Home</a>
</div>